.projects .top{
    height: 20vh;
}

.projects .body{
    min-height: 80vh;
}

.projects .container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.project.card{
    cursor: pointer;
}

.project.card img{
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .projects .container{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 850px) {
    .projects .container{
        display: grid;
        grid-template-columns: auto;
    }
}